<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mommyhealthapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Mommy.MotherGuidebook"
            android:label="@string/guidebook" />
        <activity
            android:name=".Mommy.UploadDiaryActivity"
            android:label="Today&apos;s Diary" />
        <activity
            android:name=".Mommy.DiaryActivity"
            android:label="My Diary" />
        <activity
            android:name=".Mommy.PregnancyWeightGainActivity"
            android:label="Weight Gain Calculator" />
        <activity
            android:name=".Nurse.UploadDocumentActivity"
            android:label="Upload Document" />
        <activity
            android:name=".Nurse.ImageRecordActivity"
            android:label="Laboratory Document" />
        <activity
            android:name=".Nurse.PregnancyControlActivity"
            android:label="Pregnancy Control"
            android:theme="@style/MyMaterialTheme.Base" />

        <receiver
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlertService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ForgetPasswordActivity"
            android:label="Forget Password" />
        <activity
            android:name=".Nurse.SummaryReportActivity"
            android:label=" Summary Report" />
        <activity
            android:name=".Nurse.BabyKickRecordActivity"
            android:label="Baby Kick Record" />
        <activity
            android:name=".Mommy.KickCounterActivity"
            android:label="Baby Kick Counter" />
        <activity
            android:name=".Nurse.PregnantExperienceRecordActivity"
            android:label="Pregnancy Experience" />
        <activity
            android:name=".Nurse.ScanQRCodeActivity"
            android:label="Scan QRCode" />
        <activity
            android:name=".Nurse.HealthyMindFilterActivity"
            android:label="Mental Examination" />
        <activity
            android:name=".Nurse.BreastExamActivity"
            android:label="Breast Examination" />
        <activity
            android:name=".Nurse.SectionNOthersActivity"
            android:label="Others Check" />
        <activity
            android:name=".Nurse.BreastFeedingActivity"
            android:label="Breast Feeding Check" />
        <activity
            android:name=".Nurse.UnusualCircumtancesActivity"
            android:label="Unusual Circumstances Check" />
        <activity
            android:name=".Nurse.PostnatalActivity"
            android:label="Postnatal Check" />
        <activity
            android:name=".Nurse.AntenatalActivity"
            android:label="Antenatal Check" />
        <activity
            android:name=".Nurse.SectionNActivity"
            android:label="Health Tutorial" />
        <activity
            android:name=".Nurse.MGTTResultActivity"
            android:label="MGTT Result" />
        <activity
            android:name=".Nurse.MGTTActivity"
            android:label="MGTT Examination" />
        <activity
            android:name=".Nurse.PregnancyExaminationActivity"
            android:label="Pregnancy Examination" />
        <activity
            android:name=".Mommy.MommyHomeActivity"
            android:label="@string/title_activity_mommy_home" />
        <activity
            android:name=".Nurse.PregnancyExamRecordActivity"
            android:label="Examination Record" />
        <activity
            android:name=".Nurse.SectionDActivity"
            android:label="Current Health Status" />
        <activity
            android:name=".Nurse.SectionCActivity"
            android:label="Health History" />
        <activity
            android:name=".Nurse.SectionBActivity"
            android:label="Screening Test" />
        <activity
            android:name=".Nurse.SectionAActivity"
            android:label="Pregnancy Experience" />
        <activity
            android:name=".Nurse.MommyRecordActivity"
            android:label="Pregnant Record" />
        <activity
            android:name=".Nurse.EarlyTestActivity"
            android:label="Early Test" />
        <activity
            android:name=".Nurse.MommyInfoActivity"
            android:label="Mommy Information" />
        <activity
            android:name=".Nurse.MommyProfileActivity"
            android:label="Mommy Profile" />
        <activity
            android:name=".Nurse.NurseHomeActivity"
            android:label="@string/title_activity_nurse_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyMaterialTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>