<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mommyhealthapp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Nurse.HealthyMindFilterActivity"
            android:label="Healthy Mind Examination"/>
        <activity
            android:name=".Nurse.BreastExamActivity"
            android:label="Breast Examination" />
        <activity
            android:name=".Nurse.SectionNOthersActivity"
            android:label="Others Check" />
        <activity
            android:name=".Nurse.BreastFeedingActivity"
            android:label="Breast Feeding Check" />
        <activity
            android:name=".Nurse.UnusualCircumtancesActivity"
            android:label="Unusual Circumstances Check" />
        <activity
            android:name=".Nurse.PostnatalActivity"
            android:label="Postnatal Check" />
        <activity
            android:name=".Nurse.AntenatalActivity"
            android:label="Antenatal Check" />
        <activity
            android:name=".Nurse.SectionNActivity"
            android:label="Health Tutorial" />
        <activity
            android:name=".Nurse.MGTTRecordActivity"
            android:label="MGTT Record" />
        <activity
            android:name=".Nurse.MGTTResultActivity"
            android:label="MGTT Result" />
        <activity
            android:name=".Nurse.MGTTActivity"
            android:label="MGTT Examination" />
        <activity
            android:name=".Nurse.PregnancyExaminationActivity"
            android:label="Pregnancy Examination" />
        <activity
            android:name=".Mommy.MommyHomeActivity"
            android:label="@string/title_activity_mommy_home" />
        <activity
            android:name=".Nurse.PregnancyExamRecordActivity"
            android:label="Examination Record" />
        <activity
            android:name=".Nurse.SectionDActivity"
            android:label="Section D" />
        <activity
            android:name=".Nurse.SectionCActivity"
            android:label="Section C" />
        <activity
            android:name=".Nurse.SectionBActivity"
            android:label="Section B" />
        <activity
            android:name=".Nurse.SectionAActivity"
            android:label="Section A" />
        <activity
            android:name=".Nurse.MommyRecordActivity"
            android:label="Pregnant Record" />
        <activity
            android:name=".Nurse.EarlyTestActivity"
            android:label="Early Test" />
        <activity
            android:name=".Nurse.MommyInfoActivity"
            android:label="Mommy Information" />
        <activity
            android:name=".Nurse.MommyProfileActivity"
            android:label="Mommy Profile" />
        <activity
            android:name=".Nurse.NurseHomeActivity"
            android:label="@string/title_activity_nurse_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyMaterialTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>